*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator-flex {
    display: flex;
    justify-content: center;
}

.display {
    background-color: darkgray;
    width: 100%;
    height: 10rem;
}


.previous-output {
    height: 30px;
    width: 100%;
    background-color: darkslategray;
    color: white;
}

.current-output {
    height: 30px;
    width: 100%;
    background-color: darkslategray;
    color: white;
    margin-bottom: 3px;
}


