*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display {
    height: 200px;
    width: 400px;
    background-color: lightgray;
}

.previous-output {
    height: 30px;
    width: 100%;
    background-color: darkslategray;
    color: white;
}

.current-output {
    height: 30px;
    width: 100%;
    background-color: darkslategray;
    color: white;
    margin-bottom: 3px;
}